* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cointner {
  background-color: #25171a;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 20%;
  background-color: #4B244A;
  padding: 20px;
}

h2 {
  text-align: center;
}

.passbox,
.length,
.checkbox {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.passbox input {
  flex-basis: 80%;
  background-color: #533A7B;
  color: white;
  outline: none;
}

.passbox button {
  padding: 10px;
  color: white;
  background-color: #25171A;
  border: none;
  cursor: pointer;
}

.length input {
  width: 50px;
  background-color: #25171A;
  color: white;
}

.length label {
  color: white;
}

.checkbox {
  color: white;
}

.btn {
  padding: 10px 0;
  width: 100%;
  color: white;
  background-color: #6969B3;
  cursor: pointer;
}
  
